# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2
charset = utf-8

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf

# Markdown files
[*.md]
trim_trailing_whitespace = false
